:root {
  --fundo: #9b59b6;
  --letra: #ecf0f1;
  --btn: #3498db;
  --btn-over: #2980b9;
  --border-color: #2ecc71;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: sans-serif;
}

input {
  font-size: inherit;
  font-family: inherit;
}
