<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Chat</title>

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <article class="msg">
    <h1 class="msg__title">Mensagens</h1>
  </article>

  <form class="send-msg">
    <input type="text" class="send-msg__content">
    <input type="button" value="Enviar" class="send-msg__action">
  </form>


</body>
</html>
